<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='static.css') }}"
    />
    <title>checkboard</title>
  </head>
  <body>
    <h1>***checkboard***</h1>
    <div id="container">
      {% for i in range(0,rows): %}
      <div class="row">
        {% for j in range(0,columns): %}
        <div class="red"></div>
        <div class="black"></div>
        {% endfor %}
      </div>
      <div class="row">
        {% for j in range(0,columns): %}
        <div class="black"></div>
        <div class="red"></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
